---
import Container from "@components/Container.astro";
import Head from "@components/Head.astro";
import { SITE } from "@consts";
---

<head>
  <Head title={`"Choose a language" | ${SITE.NAME}`} description="index, choose a language" />
  <meta charset="UTF-8">
</head>
<Container>
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
  
    .container {
      text-align: center;
    }
  
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .buttons {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    
    button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      font-style: oblique;
      border: none;
      cursor: pointer;
      background-color: #a7a6a6e5;
      border-radius: 5px;
    }
    
    button:hover {
      background-color: #ffffffa9;
    }
    </style>
  <html lang="">
  <!-- Structure HTML --> 
  <div class="container">
    <h1 class="font-semibold text-black dark:text-white">Welcome to my portfolio !</h1>
    <h2 class="font-semibold text-black dark:text-white">Select your language</h2>
    <div class="buttons text-black dark:text-white">
      <button onclick="window.location.href='/fr'">Français</button>
      <button onclick="window.location.href='/en'">English</button>
    </div>
  </div>
  </html>
</Container>
